 
# Ignore the entire target and test-output directory
target/*
!target/.gitkeep
test-output/*
!test-output/.gitkeep
# Ignore the .classpath file
.classpath
# Ignore the .project file
.project
# Ignore the .project file
.settings/